[submodule "imageproc-lib"]
	path = imageproc-lib
	url = https://github.com/apullin/imageproc-lib.git
[submodule "imageproc-settings"]
	path = imageproc-settings
	url = https://github.com/apullin/imageproc-settings.git
